*{
    box-sizing:border-box;
}
body{
      background-color:#e1e1ea;
      font-size:20px;
}
.wrapper{
    margin:0px 50px;
    background-color:white;
    border-style:outset;
}
.container{
    display: flex;
    position: fixed;            /*so we can get fixed and flex */
    top: 0;
    left: 0;
    right: 0;
    justify-content:space-evenly;
    background-color:#494969;
    color:white;
    font-size:1.5rem;
}
.icon img{
  width:30px;
}
.nav a:link{
    color:white;
    text-decoration:none;
}

.nav a:visited{
    color:white;
}
.nav a:hover{
    color:#a3a3c2;
}
.container2{
    display:flex;
    justify-content:center;
}

.Pic1 img{
    width:100%;
}
.maintitle{
    text-align:center;
    color:grey;
    border-width:0px 0px 0.5px 0px;
    border-style:solid;
    border-color:grey;
}
.container3{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-evenly;
}
.column1{
    flex:2 1 0;
}
.column2{
    flex:2 1 0;
}
.column3{
    flex:2 1 0;
}
.columntitle{
    margin:20px;
    border-width:0px 0px 0.5px 0px;
    border-style:solid;
    border-color:grey;
}
.columntitle a:link{
    color:#3333ff;
    text-decoration:none;
}
.columntitle a:visited{
    color:#3333ff;
}
.columntitle a:hover{
    color:black;
}
.dates{
    font-size:0.9rem;
    font-style:italic;
}
.other-links{
    margin:5px 40px;
    text-align:right;
}
.other-links a:link{
    color:#3333ff;
    text-decoration:none;
}
.other-links a:visited{
     color:#3333ff;
}
.other-links a:hover{
    color:black;
}
.foot{
    background-color:#494969;
}
.container4{
    display:flex;
    justify-content:space-evenly;
    color:white;
}
.col{
    border-width:0px 0.5px 0px 0px;
    border-color:white;
    border-style:dotted;
}
.col a:link{
    color:white;
}
.col a:visited{
    color:white;
}
.col a:hover:{
    color:white;
}
/*media queriese treba dodati i datume na linkove one */
